@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

@import url("https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100&display=swap");

.blog_name {
  font-family: "Smooch Sans", sans-serif;
}

#__next {
  background-color: #f7f7f7;
}

html {
  background-color: #f7f7f7;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

h1{
  font-size: 2.25rem; 
  line-height: 2.5rem;
  font: bold;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

h2{
  font-size: 1.875rem;
  line-height: 2.25rem;
  font: bold;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

h3{
  font-size: 1.5rem;
  line-height: 2rem;
  font: bold;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

h4{
  font-size: 1.25rem;
  line-height: 1.75rem;
  font: bold;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

a{
  --tw-text-opacity: 1;
  color: rgb(59 130 246/var(--tw-text-opacity));
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}